client
remote-cert-tls server
dev tun
remote {{ ansible_host }}
compress lzo
cipher AES-256-CBC
port 1194
proto udp
<ca>
{{ ca_cert }}
</ca>
<cert>
{{ client_cert }}
</cert>
<key>
{{ client_key }}
</key>
